#editor config for test project

[*.cs]

# CA1054: Uri parameters should not be strings
dotnet_diagnostic.CA1054.severity = silent

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA2007: Consider calling ConfigureAwait on the awaited task
dotnet_diagnostic.CA2007.severity = none
